<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= description %>">
	<title><%= title %></title>
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body class="flex flex-col">
	<header class="flex justify-between items-center p-4 bg-gray-200">
		<h1>Sample Logo</h1>
		<nav>
			<ul class="flex">
				<li class="pl-2 hover:opacity-50"><a href="/">TOP</a></li>
				<li class="pl-2 hover:opacity-50"><a href="/about">ABOUT</a></li>
			</ul>
		</nav>
	</header>