<%- include('partials/header.ejs') %>
	<div id="container" class="container mx-auto py-4">
		<%= name %>
		<div><img src="/images/img01.png" alt=""></div>
	</div>
<%- include('partials/footer.ejs') %>